[submodule "msp432-tutorial"]
	path = msp432-tutorial
	url = https://github.com/srkar24/msp432-tutorial.git
[submodule "gpio"]
	path = gpio
	url = https://github.com/srkar24/gpio.git
[submodule "reflectance-sensor"]
	path = reflectance-sensor
	url = https://github.com/srkar24/reflectance-sensor.git
[submodule "periodic-interrupts"]
	path = periodic-interrupts
	url = https://github.com/srkar24/periodic-interrupts.git
[submodule "motor-control"]
	path = motor-control
	url = https://github.com/srkar24/motor-control.git
[submodule "tachometer"]
	path = tachometer
	url = https://github.com/srkar24/tachometer.git
[submodule "barcode-scanner"]
	path = barcode-scanner
	url = https://github.com/srkar24/barcode-scanner.git
[submodule "i2c"]
	path = i2c
	url = https://github.com/srkar24/i2c.git
[submodule "line-follower"]
	path = line-follower
	url = https://github.com/srkar24/line-follower.git
